Language:        Cpp
BasedOnStyle:  LLVM
ColumnLimit:  80
IndentWidth:     4
TabWidth:        4
UseTab:          Always
AlignOperands:   true
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: Empty 
AllowAllParametersOfDeclarationOnNextLine: false
AlignEscapedNewlines: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentWrappedFunctionNames: false
ExperimentalAutoDetectBinPacking: false
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterReturnType: None
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
SpaceAfterCStyleCast: true
SpaceBeforeSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeParens: Never
SpacesInParentheses: false
PointerAlignment: Left
ReflowComments: false
CommentPragmas:  '^\\.+'
PenaltyBreakBeforeFirstCallParameter: 1000 
PenaltyReturnTypeOnItsOwnLine: 80 
PenaltyBreakAssignment: 10
PenaltyBreakComment: 1000